.cvslider{
    color: rgb(220, 220, 220);
    background-color: rgba(33, 37, 41, 0.9);
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.cvimage{
    width: 60%;
    margin: auto;
}

.introtext{
    height: 100%;
    font-size: 1.2rem;
    margin: auto;
    overflow: auto;
}