.currentCVcontainer{
    background-color: rgba(33, 37, 41, 0.9);
    border: 1px solid black;
    border-radius: 20px;
}

input{
    color: rgb(220, 220, 220);
    background-color: rgba(53, 57, 61, 0.9);
}

::placeholder{
    color:white
}

.tempForm{
    color: rgb(220, 220, 220);
    text-align: center;
    padding:15px 20px;
    margin:auto;
    min-height: 600px;

    h2 {
        margin-bottom: 25px;
    }

    .carousel-item{
        float: none;

        .profileEditor{
            margin-top: 10px;
            margin-bottom: 5px;
        }

        h2 {
            margin-top: 30px;
            margin-bottom: 5px;
        }
    }

    .jobBtn{
        width: 100%;
        height: 35px;
        border-radius: 20px;
    }
    
    .btn-pos button{
        margin:auto;
        display: inline;
        width: 3.6rem;
        height: 2.2rem;
        background-color: rgba(255,255,255,0.4);
        border:1px inset black;
        
    }

    .btn-pos .btn-prev{
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    .btn-pos .btn-next{
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    .quill-editor{
        padding: 0px;
        color: white !important;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .profile-container{
        border: 3px solid white;
        padding: 30px;
        background: rgba(220, 220, 220, 0.2);
        border-radius: 20px;
    }

    .jobs-container{
        position: relative;

        .btn-danger{
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 15px;
        }
    }
}

// .currentTemp{
//     margin:auto;
//     height:29.7cm;
//     width:21cm;
//     background-color: lavender;
//     border: 1px solid black;
//     border-radius: 4px;
// }

// .smallScale {
//     display: flex;
//     transform: scale(0.50);
//     -ms-transform: scale(0.50); /* IE 9 */
//     -webkit-transform: scale(0.50); /* Safari and Chrome */
//     -o-transform: scale(0.50); /* Opera */
//     -moz-transform: scale(0.50); /* Firefox */
//     transform-origin: top left;
// }
