<div class="row ms-5 me-5 pt-3 pb-1 mt-3 mb-3 currentCVcontainer">
  <div class="col-xl-7 col-lg-12 col-md-12">
    <div class="tempForm">
      <div id="carouselForm" class="text-center imageslider carousel carousel-dark">
        
        <div class="carousel-item active" data-bs-interval="99999999">
          <form class="row g-3 needs-validation" novalidate>
            <h2>Personal Info</h2>
            <div class="col-md-6">
              <label class="form-label">First name</label>
              <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" required>
            </div>
            <div class="col-md-6">
              <label class="form-label">Last name</label>
              <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" required>
            </div>
            <div class="mb-12">
              <label class="form-label">Profile Picture</label>
              <input class="form-control" type="file" accept="*.png.jpg" (change)="onProfilePicture($event)">
            </div>
            <div class="col-md-6">
              <label class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" name="email" [(ngModel)]="email" required>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="phone_number" [(ngModel)]="phone_number" required>
            </div>
            <div class="col-md-5">
              <label class="form-label">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="city" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">State</label>
              <input type="text" class="form-control" name="state" [(ngModel)]="state" required>
            </div>
            <div class="col-md-3">
              <label class="form-label">Zip Code</label>
              <input type="text" class="form-control" name="zip_code" [(ngModel)]="zip_code">
            </div>
          </form>
        </div>

        <div class="carousel-item" data-bs-interval="99999999">
          <form class="row g-3 needs-validation" novalidate>
            <div class="profile-container" style="padding-top: 0px;">
              <h2 class="profileEditor">Profile</h2>
              <div class="col-md-12 quill-editor">
                <quill-editor class="quill-editor"
                [modules]="modules"
                [styles]="quillStyles"
                (onEditorChanged)="changedProfile($event)">
              </quill-editor>
            </div>
          </div>
          <h2>Jobs</h2>
          <button class="jobBtn" (click)="addJob()">Add Job</button>

          <div *ngFor="let job of jobs; index as i">
            <div class="container profile-container jobs-container">
              <button class="btn btn-danger" (click)="deleteJob(i)">X</button>
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">Job Title</label>
                  <input type="text"
                  class="form-control"
                  name="job.jobTitle"
                  [(ngModel)]="job.jobTitle"
                  required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Company Name</label>
                  <input type="text"
                  value="John"
                  name="John"
                  class="form-control"
                  name="job.companyName"
                  [(ngModel)]="job.companyName"
                  required>
                </div>
                <div style="text-align: center;">
                  <div class="row g-3">
                    <div class="col-auto">
                      <label class="col-form-label">Started: </label>
                    </div>
                    <div class="col">
                      <input type="date"
                      class="form-control text-center"
                      name="job.fromDate"
                      [(ngModel)]="job.fromDate"
                      aria-label="First name">
                    </div>
                    <div class="col-auto">
                      <label class="col-form-label">Ended: </label>
                    </div>
                    <div class="col">
                      <input type="date"
                      class="form-control text-center"
                      name="job.toDate"
                      [(ngModel)]="job.toDate"
                      aria-label="Last name">
                    </div> 
                  </div>
                </div>
                <div class="col-md-12 quill-editor">
                  <quill-editor class="quill-editor"
                  [modules]="modules"
                  [styles]="quillStyles"
                  (onEditorChanged)="changedJobs($event, i)">
                  </quill-editor>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    
    <div class="btn-pos mt-4">
      <button class="btn-prev mt-5"
      type="button"
      data-bs-target="#carouselForm" 
      data-bs-slide="prev"
      data-bs-keyboard="false"
      >
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="btn-next mt-4"
    type="button"
    data-bs-target="#carouselForm"
    data-bs-slide="next"
    data-bs-keyboard="false"
    >
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>



  <div class="col-xl-5 col-md-12">
    <app-template-one
    *ngIf="selectedTemp == 'temp1'"
    [form_profile_picture]="form_profile_picture"
    [display_profile_picture]="display_profile_picture"
    [first_name]="first_name"
    [last_name]="last_name"
    [email]="email"
    [phone_number]="phone_number"
    [city]="city"
    [state]="state"
    [zip_code]="zip_code"
    [profileEditor]="profileEditor"
    [jobs]="jobs">
    </app-template-one>
  </div>
</div>