<div class="row ms-5 me-5 pt-3 pb-1 mt-3 mb-3 currentCVcontainer">
  <div class="col-xl-7 col-lg-12 col-md-12 tempForm">
      <div id="carouselForm" class="text-center imageslider carousel carousel-dark">

        <!-- Display first form page -->
        <div class="carousel-item active color-picker" data-bs-interval="99999999">
          <form class="row g-3 needs-validation" novalidate>
            <span>
              <h2>Template Decorator</h2>
            </span>
            <br>
            <h5>Choose your own template colors</h5>
            <table>
              <tr>
                <td><label class="form-label">Template Text Color</label></td>
                <td><input type="color" class="form-control form-control-color"
                name="tempColor" [(ngModel)]="tempColor"></td>
                <td><label class="form-label">Personal Text Color</label></td>
                <td><input type="color" class="form-control form-control-color"
                name="personalColor" [(ngModel)]="personalColor"></td>
              </tr>
              <br>
              <tr>
                <td><label class="form-label">Template Background Color</label></td>
                <td><input type="color" class="form-control form-control-color"
                name="tempBackground" [(ngModel)]="tempBackground"></td>
                <td><label class="form-label">Personal Background Color</label></td>
                <td><input type="color" class="form-control form-control-color"
                name="personalBackground" [(ngModel)]="personalBackground"></td>
              </tr>
            </table>
            <hr class="mt-5">
            <h5>Below are proposed colorings for templates</h5>
            <div class="row mt-4">
              <div class="col"><button class="btn btn-sm btn-light temp-color-button1"
                (click)="changeTempColor('#000000', '#E6E6FA', '#ffffff', '#000044')"> Test </button></div>
              <div class="col"><button class="btn btn-sm btn-light temp-color-button2"
                (click)="changeTempColor('#000000', '#ffffff', '#000000', '#dbd7d7')"> Test </button></div>
              <div class="col"><button class="btn btn-sm btn-light temp-color-button3"
                (click)="changeTempColor('#be1919', '#fff0f0', '#be1919', '#e59999')" > Test </button></div>
              <div class="col"><button class="btn btn-sm btn-light temp-color-button4"
                (click)="changeTempColor('#000000', '#ffffff', '#000000', '#dbd7d7')" > Test </button></div>
            </div>
            <div class="row mt-4">
              <div class="col"><button class="btn btn-sm btn-light temp-color-button5"
                (click)="changeTempColor('#000000', '#ffffff', '#000000', '#dbd7d7')" > Test </button></div>
              <div class="col"><button class="btn btn-sm btn-light temp-color-button6"
                (click)="changeTempColor('#000000', '#ffffff', '#000000', '#dbd7d7')" > Test </button></div>
              <div class="col"><button class="btn btn-sm btn-light temp-color-button7"
                (click)="changeTempColor('#000000', '#ffffff', '#000000', '#dbd7d7')" > Test </button></div>
              <div class="col"><button class="btn btn-sm btn-light temp-color-button8"
                (click)="changeTempColor('#000000', '#ffffff', '#000000', '#dbd7d7')" > Test </button></div>
            </div>
          </form>
        </div>

        <!-- Display second form page -->
        <div class="carousel-item" data-bs-interval="99999999">
          <form class="row g-3 needs-validation" novalidate>
            <span>
              <h2>Personal Info</h2>
              <button class="btn btn-outline-success w-50 mt-2 mb-2" (click)="onExportPDF()">
                Export CV as PDF
              </button>
            </span>
            <div class="col-md-6">
              <label class="form-label">First name</label>
              <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" required>
            </div>
            <div class="col-md-6">
              <label class="form-label">Last name</label>
              <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" required>
            </div>
            <div class="mb-12">
              <label class="form-label">Profile Picture</label>
              <input class="form-control" type="file" accept="*.png.jpg" (change)="onProfilePicture($event)">
            </div>
            <div class="col-md-6">
              <label class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" name="email" [(ngModel)]="email" required>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="phone_number" [(ngModel)]="phone_number" required>
            </div>
            <div class="col-md-5">
              <label class="form-label">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="city" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">State</label>
              <input type="text" class="form-control" name="state" [(ngModel)]="state" required>
            </div>
            <div class="col-md-3">
              <label class="form-label">Zip Code</label>
              <input type="text" class="form-control" name="zip_code" [(ngModel)]="zip_code">
            </div>
          </form>
        </div>

        <!-- Display third form page -->
        <div class="carousel-item skills" data-bs-interval="99999999">
          <form class="needs-validation" novalidate>
            <span>
              <h2>Skillset</h2>
              <button class="btn btn-outline-success w-50 mt-2 mb-2" (click)="onExportPDF()">
                Export CV as PDF
              </button>
            </span>
            <button class="jobBtn mt-3" (click)="addSkill()">Add Skill</button>
            <div *ngFor="let skill of skills; index as i">
              <br>
              <div class="row g-3 " *ngIf="skills">
                <div class="col-md-6">
                  <input type="text" class="form-control" name="skill.skillset" [(ngModel)]="skill.skillset">
                </div>
                <div class="col-md-6">
                  <input type="range" class="form-range skill-range-input" step="5"
                         name="skill.skill_range" [(ngModel)]="skill.skill_range">
                </div>
            </div>
            </div>
          </form>
        </div>

        <!-- Display forth form page -->
        <div class="carousel-item profile-jobs" data-bs-interval="99999999">
          <form class="row g-3 needs-validation" novalidate>
            <span>
              <h2>Profile Info</h2>
              <button class="btn btn-outline-success w-50 mt-2 mb-2" (click)="onExportPDF()">
                Export CV as PDF</button>
            </span>
            <div class="profile-container">
              <div class="col-md-12 quill-editor">
                <quill-editor class="quill-editor"
                [modules]="modules"
                [styles]="quillStyles"
                (onEditorChanged)="changedProfile($event)">
              </quill-editor>
            </div>
          </div>

          <!-- Jobs form -->
          <h2 class="mt-4">Jobs</h2>
          <button class="jobBtn" (click)="addJob()">Add Job</button>
          <div *ngFor="let job of jobs; index as i">
            <div class="container profile-container jobs-container">

              <div *ngIf="job.expanded;else templateName">
                <button class="btn btn-dark w-100" (click)="jobToggle(i)">Collapse Job</button>
                <button class="btn btn-danger" (click)="deleteJob(i)">X</button>
                <div class="row g-3 mt-1">
                  <div class="col-md-6">
                    <label class="form-label">Job Title</label>
                    <input type="text"
                    class="form-control"
                    name="job.jobTitle"
                    [(ngModel)]="job.jobTitle"
                    required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Company Name</label>
                    <input type="text"
                    value="John"
                    name="John"
                    class="form-control"
                    name="job.companyName"
                    [(ngModel)]="job.companyName"
                    required>
                  </div>
                  <div>
                    <div class="row g-3">
                      <div class="col-auto">
                        <label class="col-form-label">Started: </label>
                      </div>
                      <div class="col">
                        <input type="date"
                        class="form-control text-center"
                        name="job.fromDate"
                        [(ngModel)]="job.fromDate"
                        aria-label="First name">
                      </div>
                      <div class="col-auto">
                        <label class="col-form-label">Ended: </label>
                      </div>
                      <div class="col">
                        <input type="date"
                        class="form-control text-center"
                        name="job.toDate"
                        [(ngModel)]="job.toDate"
                        aria-label="Last name">
                      </div> 
                    </div>
                  </div>
                  <div class="col-md-12 quill-editor">
                    <quill-editor class="quill-editor"
                    [modules]="modules"
                    [styles]="quillStyles"
                    (onEditorChanged)="changedJobs($event, i)">
                    </quill-editor>
                  </div>
                </div>
              </div>

              <ng-template #templateName>
                <button class="btn btn-dark w-100" (click)="jobToggle(i)">Expand Job</button>
                <button class="btn btn-danger round-corners" (click)="deleteJob(i)">X</button>
                <div class="mt-3" *ngIf="job.jobTitle">
                    <h3> {{job.jobTitle }} </h3>
                </div>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    
    <div class="btn-pos mt-4">
      <button class="btn-prev mt-5"
      type="button"
      data-bs-target="#carouselForm" 
      data-bs-slide="prev"
      data-bs-keyboard="false"
      >
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="btn-next mt-4"
    type="button"
    data-bs-target="#carouselForm"
    data-bs-slide="next"
    data-bs-keyboard="false"
    >
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>



  <div class="col-xl-5 col-md-12">
    <div *ngIf="selectedTemp; else noSelectedTemp">
      <app-template-one #selectedTemplateBody
        *ngIf="selectedTemp === 'temp1'"
        [display_profile_picture]="display_profile_picture"
        [first_name]="first_name" [last_name]="last_name" [email]="email"
        [phone_number]="phone_number" [city]="city"
        [state]="state" [zip_code]="zip_code"
        [profileEditor]="profileEditor" [jobs]="jobs" [skills]="skills"
        [tempColor]="tempColor" [tempBackground]="tempBackground"
        [personalColor]="personalColor" [personalBackground]="personalBackground">
      </app-template-one>
      <app-template-two #selectedTemplateBody
        *ngIf="selectedTemp === 'temp2'"
        [display_profile_picture]="display_profile_picture"
        [first_name]="first_name" [last_name]="last_name" [email]="email"
        [phone_number]="phone_number" [city]="city"
        [state]="state" [zip_code]="zip_code"
        [profileEditor]="profileEditor" [jobs]="jobs" [skills]="skills"
        [tempColor]="tempColor" [tempBackground]="tempBackground"
        [personalColor]="personalColor" [personalBackground]="personalBackground">
      </app-template-two>
    </div>
    
    <ng-template #noSelectedTemp>
      <div class="h-100 d-flex justify-content-center no-temp">
        <p>Please select the
          <a [routerLink]="['/templates']">template</a>
        </p>
      </div>
    </ng-template>
  </div>
</div>