<div class="scale">
<div class="row">
    <div class="col-lg-4 col-sm-12 temp-height" (click)="chooseTemp('temp1')">
        <div class="testtest" id="testtest"></div>
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height" (click)="chooseTemp('temp2')">
        <app-template-two>
        </app-template-two>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
</div>
</div>