<div class="scale">
<div class="row">
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-sm">
        <app-template-one>
        </app-template-one>
    </div>
</div>
</div>