.scale {
    display: block;
    transform: scale(0.515);
    -ms-transform: scale(0.515); /* IE 9 */
    -webkit-transform: scale(0.515); /* Safari and Chrome */
    -o-transform: scale(0.515); /* Opera */
    -moz-transform: scale(0.515); /* Firefox */
}

.temp-height{
    margin-bottom:610px
}

@media only screen and (max-width: 1200px) {
    .currentTemp {
        display: none;
    }
}