<div class="scale">
<div class="row">
    <div class="col-lg-4 col-sm-12 temp-height" (click)=chooseTemp1($event) id='temp_1'>
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
    <div class="col-lg-4 col-sm-12 temp-height">
        <app-template-one>
        </app-template-one>
    </div>
</div>
</div>