<div class="temp1 currentTemp smallScale"
  [style.color]="profile.tempColor"
  [style.background]="profile.tempBackground"
  #selectedTemplate>
  <div class="row w-100">
    <div class="col-lg-4 personalInfo"
    [style.color]="profile.personalColor"
    [style.background]="profile.personalBackground">
      <!-- TODO implement loading spinner in all templates -->
      <img *ngIf="display_profile_picture" 
      class="d-block w-50 img-thumbnail mt-4 p-0 profile-picture"
      [src]="display_profile_picture | async"
      alt="Profile Picture"
      >
      <hr *ngIf="display_profile_picture">
      <h5>Full Name</h5>
      <p>{{ profile.first_name }} {{ profile.last_name }}</p>
      <h5>Email Adress</h5>
      <p>{{ profile.email }}</p>
      <h5>Telephone Number</h5>
      <p>{{ profile.phone_number }}</p>
      <h5>Town & City/State</h5>
      <p>{{ profile.city }}/{{ profile.state }}</p>
      <h5>Postal Code</h5>
      <p>{{ profile.zip_code }}</p>
      <hr *ngIf="skills">
      <div *ngIf="skills">
        <div *ngFor="let skill of skills">
          <h6><b>{{skill.skillset}} </b></h6>
          <p class="progress-bar bg-success" [style.width]="skill.skill_range | skillDisplay">
              {{ skill.skill_range | skillDisplay}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 profileInfo" #profileTemplate>
      <div>
        <h1>PROFILE</h1>
        <hr>
        <p class="ql-editor" [innerHTML]="profileEditor"></p>
      </div>
      <div *ngIf="jobs.length !== 0">
        <b><h1>JOBS</h1></b>
        <hr style="margin-bottom: 30px;">
        <div *ngFor="let job of jobs">
          <b><h5 [innerHTML]="job.jobTitle"></h5></b>
          <hr style="margin-bottom: 10px; width: 50%;">
          <span>
            <b><h6 [innerHTML]="job.companyName" style="display: inline;"></h6>
            / </b> <i>{{job.fromDate | date:'M/d/y'}}-{{ job.toDate | date:'M/d/y'}}</i>
          </span>
          <p class="ql-editor" [innerHTML]="job.jobsEditor"></p>
        </div>
      </div>
    </div>
  </div>
</div>
