/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    background-color: black;
}

.currentTemp{
    display: flex;
    height:29.7cm;
    width:21cm;
}

.smallScale {
    transform: scale(0.515);
    -ms-transform: scale(0.515); /* IE 9 */
    -webkit-transform: scale(0.515); /* Safari and Chrome */
    -o-transform: scale(0.515); /* Opera */
    -moz-transform: scale(0.515); /* Firefox */
    transform-origin: top left;
}

@media only screen and (min-width: 1200px) {
    .currentTemp {
      position: fixed;
    }
  }

@media only screen and (max-width: 1200px) {
    .currentTemp {
        display: none;
    }
}

.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

