/* You can add global styles to this file, and also import other style files */


@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    background-color: rgb(70, 70, 70);
    margin-bottom: 100px;
    padding-bottom: 100px;
}