.temp1{

    .personalInfo{
        color: white;
        padding: 4% 3%;
        height: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        overflow: hidden;
        
        .web-logo{
            width: 32px;
        }

        .gh{
            border-radius: 100%;
            background-color: black;
        }

        .ln{
            border-radius: 3px;
            background-color: white;
        }

        .profile-picture{
            border-radius: 100%;
            border: 5px lavender solid;
        }
    
        h1{
            font-size: 24px;
        }
    
        h5{
            margin-top: 27px;
        }
    }
    
    .profileInfo{
        overflow: hidden;
        padding: 4% 3%;
        margin-bottom: 30px;
        height: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
    
        
        h1{
            font-size: 30px;
        }
    
        h2{
            margin-top: 27px;
            font-size: 26px;
        }
    
        li{
            margin-left:30px
        }
    
        hr{
            padding: 0px;
            margin: 0px;
            border:1px solid black
        }
    
        .ql-editor {
            box-sizing: border-box;
            cursor: text;
            line-height: 1.42;
            height: 100%;
            outline: none;
            overflow-y: auto;
            padding: 12px 15px;
            tab-size: 4;
            -moz-tab-size: 4;
            text-align: left;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
    }
}.extra-style-1 { margin: 1px; }
.extra-style-2 { margin: 2px; }
.extra-style-3 { margin: 3px; }
.extra-style-4 { margin: 4px; }
.extra-style-5 { margin: 5px; }
.extra-style-6 { margin: 6px; }
.extra-style-7 { margin: 7px; }
.extra-style-8 { margin: 8px; }
.extra-style-9 { margin: 9px; }
.extra-style-10 { margin: 10px; }
.extra-style-11 { margin: 11px; }
.extra-style-12 { margin: 12px; }
.extra-style-13 { margin: 13px; }
.extra-style-14 { margin: 14px; }
.extra-style-15 { margin: 15px; }
.extra-style-16 { margin: 16px; }
.extra-style-17 { margin: 17px; }
.extra-style-18 { margin: 18px; }
.extra-style-19 { margin: 19px; }
.extra-style-20 { margin: 20px; }
.extra-style-21 { margin: 21px; }
.extra-style-22 { margin: 22px; }
.extra-style-23 { margin: 23px; }
.extra-style-24 { margin: 24px; }
.extra-style-25 { margin: 25px; }
.extra-style-26 { margin: 26px; }
.extra-style-27 { margin: 27px; }
.extra-style-28 { margin: 28px; }
.extra-style-29 { margin: 29px; }
.extra-style-30 { margin: 30px; }
.extra-style-31 { margin: 31px; }
.extra-style-32 { margin: 32px; }
.extra-style-33 { margin: 33px; }
.extra-style-34 { margin: 34px; }
.extra-style-35 { margin: 35px; }
.extra-style-36 { margin: 36px; }
.extra-style-37 { margin: 37px; }
.extra-style-38 { margin: 38px; }
.extra-style-39 { margin: 39px; }
.extra-style-40 { margin: 40px; }
.extra-style-41 { margin: 41px; }
.extra-style-42 { margin: 42px; }
.extra-style-43 { margin: 43px; }
.extra-style-44 { margin: 44px; }
.extra-style-45 { margin: 45px; }
.extra-style-46 { margin: 46px; }
.extra-style-47 { margin: 47px; }
.extra-style-48 { margin: 48px; }
.extra-style-49 { margin: 49px; }
.extra-style-50 { margin: 50px; }
